.window {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 265px);
    max-width: 900px;
    width: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &__message {
        display: flex;
        margin: 15px 0;


        &-me {
            flex-direction: row-reverse;
        }

        &-partner {
            flex-direction: row;
        }
    }

    &__image {
        align-self: end;
        width: 43px;
        height: 43px;

        &-right {
            margin-right: 20px;
        }

        &-left {
            margin-left: 20px;
        }

    }

    &__sms {
        box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        padding: 12px 16px;

        &-me {
            background-color: #3B8DF5;
            color: #D8E8FD;
        }

        &-partner {
            background-color: #fff;
            color: #293145;
        }
    }

    &__text {
        margin: 0;
        max-width: 300px;
        line-height: 1.625;

        &--dark {
            color: #E1E7EF;
        }
    }

    &__else {
        border: none;
        background-color: transparent;

        &:hover {
            cursor: pointer;
            transform: scale(1.15);
        }
    }

    &__icon {
        width: 12px;
        height: 15px;
    }
}

.message-background--dark {
    background-color: #313A55;
}