.chat-window {
    grid-area: window;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F6FB;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    padding: 30px;
    flex: 1;

    &--dark {
        background-color: #293145;
        border-color: #303c50;
    }
}

.chat-noChat {
    grid-area: window;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    flex: 1;
    background-color: #F1F6FB;

    &--dark {
        background-color: #293145;
        border-color: #303c50;
    }

    &__text {
        color: #C5CBD2;
        font-size: 32px;
    }
}

.no-chats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 68px);
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    width: 100%;

    &__text {
        color: #C5CBD2;
        font-size: 32px;
    }
}
