@mixin field {
    position: absolute;
    content: '';
    display: flex;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.social {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 5.3px rgba(0, 0, 0, 0.028),
    0 0 17.9px rgba(0, 0, 0, 0.042);
    margin-bottom: 25px;
    border-radius: 12px;
    animation: appearProfileSocial 1.2s;

    &--dark {
        background-color: #313A55;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__label {
        color: #728096;
        margin-bottom: 5px;
        font-weight: 500;
    }

    &__field {
        position: relative;
        margin: 0;
        color: #2E3849;
        padding-bottom: 12px;
        font-weight: 500;
        border-bottom: 1px solid #EDF2F7;

        &--dark {
            color: #E1E7EF;
            border-color: #3d4467;
        }

        &-Twitter {
            &:after {
                @include field;
                background-image: url("../../../assets/twitter.svg");
            }
        }

        &-Facebook {
            &:after {
                @include field;
                background-image: url("../../../assets/facebook.svg");
            }
        }

        &-Instagram {
            &:after {
                @include field;
                background-image: url("../../../assets/instagram.svg");
            }
        }

        &-Github {
            &:after {
                @include field;
                background-image: url("../../../assets/github.svg");
            }
        }

        &-Slack {
            &:after {
                @include field;
                background-image: url("../../../assets/slack.svg");
            }
        }
    }
}

@keyframes appearProfileSocial {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 100%;
    }
}